.background {
    height: 74px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0px 8px;
    transition: top 0.2s, height 0.2s;
    z-index: 5;
}
.title{
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.item{
    padding: 0px 32px;
    display: flex;
    position: relative;
    cursor: pointer;
}
.active {
    background-color: #fff;
    color: #333;
    height: 56px;
    top: 0;left: 0;right: 0;
    animation: show 0.2s linear forwards;
    text-shadow: none;
    z-index: 5;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}
.noActive {
    background-color: none;
    height: 74px;
    animation: unshow 0.2s linear;
}
.listItems {
    display: flex;
    align-items: center;
}
@keyframes show {
    from {
        background-color: transparent;
    }
    to {
        background-color: #fff;
    }
}
@keyframes unshow {
    from {
        background-color: #fff;
    }
    to {
        background-color: transparent;
    }
}