.background {
    height: 74px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0px 8px;
    transition: top 0.2s, height 0.2s;
    z-index: 5;
}
.title{
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.item .notRead {
    position: absolute;
    background-color: red;
    right: 5%;
    top: 0;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 10px;
    border-radius: 100%;
}
.item {
    padding: 0px 32px;
    display: flex;
    position: relative;
    cursor: pointer;
}
.item a{
    text-decoration: none;
    display: block;
    color: #fff;
}
.active a{
    color: #333;
}
.active {
    background-color: #fff;
    color: #333 !important;
    height: 56px;
    top: 0;left: 0;right: 0;
    animation: show 0.2s linear forwards;
    text-shadow: none;
    z-index: 5;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}
.noActive {
    background-color: none;
    height: 74px;
    animation: unshow 0.2s linear;
}
.listItems {
    display: flex;
    align-items: center;
}
@keyframes show {
    from {
        background-color: transparent;
    }
    to {
        background-color: #fff;
    }
}
@keyframes unshow {
    from {
        background-color: #fff;
    }
    to {
        background-color: transparent;
    }
}

.expandMenu {
    display: none;
}

/* Reponsive */

@media (max-width: 998px) {
    .background {
        display: none;
    }
}