.background {
    height: 56px;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    padding: 0px 8px;
    border-radius: 48px;
}
.title{
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.item{
    padding: 0px 32px;
    display: flex;
    align-items: center;
}