.accountBox {
    background-color: rgba(245, 245, 255, 0.8);
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid linear-gradient(to left, #743ad5, #d53a9d);
    border-radius: 12px;
    animation: accani 0.3s ease;
    overflow: hidden;
}
.frame {
    backdrop-filter: blur(10px);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.titleMobile {
    display: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 12px;
}
.frameMobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding: 12px;
}
.titleMobile h5 {
    background-color: #fff;
    padding: 8px 18px;
    border-radius: 48px;
}
@keyframes accani {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.title {
    flex: 1;
}
.boxItems {
    width: 100%;
}
.close {
    width: 86px;
    height: 32px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    border-radius: 48px;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.search {
    padding: 4px 12px;
    width: 256px;
    border-radius: 48px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    outline: none;
    margin-right: 12px;
}
.item {
    display: flex;
    align-items: center;
    padding: 4px 4px;
    border-radius: 48px;
    margin: 18px 0px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
}
.imgUser {
    width: 42px;
    height: 42px;
    background-color: #333;
    border-radius: 48px;
}
.nameUser {
    padding: 0px 12px;
    flex: 1;
}
.actionUser {
    display: flex;
}
.gotoUser,
.convertUser,
.viewUser {
    width: 32px;
    height: 32px;
    background-size: 100%;
    border: none;
    border-radius: 48px;
    background: none;
}
.viewUser {
    position: relative;
}
.closemobile {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    width: 56px;
    height: 8px;
    margin: 4px 0px 24px 0px;
    border-radius: 48px;
}
@media (max-width: 998px) {
    .search {
        height: 48px;
        width: 98%;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border: none;
        margin-bottom: 12px;
    }
    .title {
        display: none;
    }
    .close {
        display: none;
    }
    .accountBox {
        position: fixed;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-content: flex-start;
    }
    .boxItems {
        align-content: top;
        overflow: auto;
        height: 84vh;
    }
    .closemobile {
        display: block;
    }
    .titleMobile {
        display: flex;
    }
    .frameMobile {
        border-radius: 48px 48px 0px 0px;
    }
}