.accountBox {
    background-color: rgba(245, 245, 255, 0.8);
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
    border: 5px solid linear-gradient(to left, #743ad5, #d53a9d);
    border-radius: 12px;
    animation: show 0.3s ease;
    overflow: auto;
    min-width: 1400px;
}
@keyframes show {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.frame {
    backdrop-filter: blur(10px);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.02);
    z-index: 10;
}
.titleMobile {
    display: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 12px;
}
.frameMobile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(250, 250, 255, 1);
    padding: 12px;
}
.titleMobile h5 {
    background-color: #fff;
    padding: 8px 18px;
    border-radius: 48px;
}
@keyframes accani {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.title {
    flex: 1;
}
.boxItems {
    width: 100%;
    align-content: flex-start;
    height: 68vh;
    overflow: auto;
}
.close {
    width: 86px;
    height: 32px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    border-radius: 48px;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.search {
    padding: 4px 12px;
    width: 256px;
    border-radius: 48px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    outline: none;
    margin-right: 12px;
}
.item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 4px 4px;
    border-radius: 6px;
    height: 256px;
    margin: 18px 0px;
    border: none;
    padding: 12px 12px;
    background-color: #fff;
}
.imgUser {
    width: 82px;
    height: 82px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 100%;
    margin-bottom: 12px;
}
.nameUser {
    padding: 0px;
    width: 100%;
    font-size: 20px;
    color: #666;
}
.item p {
    padding:  0px;
    font-size: 14px;
    margin-top: 12px;
}
.lock,
.teacher,
.student {
    width: 100%;
}
.actionUser {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}
.lock button,
.teacher button,
.student button {
    width: 85px;
    height: 32px;
    border: none;
    border-radius: 0px 48px 48px 48px;
}
.student button h5 {
    font-size: 12.5px;
    margin: 0 !important;
    margin-left: 8px;
    color: #009;
}
.teacher button h5 {
    font-size: 12.5px;
    margin: 0 !important;
    margin-left: 8px;
    color: rgb(0, 153, 71);
}
.lock button h5 {
    font-size: 12.5px;
    margin: 0 !important;
    margin-left: 8px;
    color: #900;
}
.lock button {
    background-color: rgba(255, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
.student button {
    background-color: rgba(0, 140, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
.teacher button {
    background-color: rgba(0, 255, 55, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
.iconType {
    background-image: url(./image/student.png);
    width: 24px;
    height: 24px;
    background-size: 100%;
}
.gotoUser,
.convertUser,
.viewUser {
    width: 32px;
    height: 32px;
    background-size: 100%;
    border: none;
    border-radius: 48px;
    background: none;
}
.viewUser {
    position: relative;
}
.closemobile {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    width: 56px;
    height: 8px;
    margin: 4px 0px 24px 0px;
    border-radius: 48px;
}
@media (max-width: 998px) {
    .search {
        height: 48px;
        width: 98%;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border: none;
        margin-bottom: 12px;
    }
    .title {
        display: none;
    }
    .close {
        display: none;
    }
    .accountBox {
        position: fixed;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-content: flex-start;
    }
    .boxItems {
        align-content: top;
        overflow: auto;
        height: 84vh;
    }
    .closemobile {
        display: block;
    }
    .titleMobile {
        display: flex;
    }
    .frameMobile {
        border-radius: 48px 48px 0px 0px;
    }
}