.boxInfo {
    width: 256px !important;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    position: absolute;
    z-index: 1;
    top: -5%;
    margin-left: -185px;
}
.inputInfo {
    margin: 12px 0px;
    flex: 1;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 48px;
    padding: 4px 8px;
}
.imgUser {
    width: 48px;
    height: 48px;
    background-color: #333;
    border-radius: 48px;
}
.nameUser {
    flex: 1;
    line-height: 48px;
    padding-left: 8px;
}