.boxInfo {
    width: 256px !important;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    transform: scale(0);
    margin-left: -185px;
    animation: show 0.1s ease forwards;
    z-index: 12;
}
.inputInfo {
    margin: 12px 0px;
    flex: 1;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 48px;
    padding: 4px 8px;
}
.imgUser {
    width: 48px;
    height: 48px;
    background-color: #333;
    border-radius: 48px;
}
.nameUser {
    flex: 1;
    line-height: 48px;
    padding-left: 8px;
}
.finish,
.close {
    border: none;
    border-radius: 48px;
}
.close {
    color: #333;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 4px 16px;
}
.finish {
    flex: 1;
    margin-left: 6px;
}
.nav {
    width: 100%;
    display: flex;
    margin-top: 8px;
}
.active {
    display: flex;
    animation: show 0.3s ease forwards;
}
@keyframes show {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@media (max-width: 998px) {
    .boxConvert {
        position: fixed;
        right: 28%;
        bottom: 120px;
        z-index: 1;
    }
    .boxInfo {
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        top: 20px;
        bottom: auto;
    }
}