@font-face{font-family: abc;src:url(./font/Bandon.ttf)}
*{
    font-family: abc;
    margin:0;
    padding:0;
}
.main{
    width:100%;
    height:100vh;
    background: url(image/homepage.png);
    background-size: cover;
    color:white; 
}
.main a{
    color:white;
}
/* .content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
} */

.content{
    height:100%;
    width:100%;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
 
}

/* Tạo môn học */
  .addclass{
    margin-left:150px;
    margin-right:200px;
}
.addclass-1{
    float:left;
}
.addclass-2{
    float:right;
    margin-top:100px;
  
}
  .addclass-1 .create-1{
    width:300px;
    height:40px;
    background-color: rgb(236, 235, 235);
    margin-bottom:30px;
    border-radius: 10px;
    border:none;
  }
  .addclass-2 .create-1{
    width:300px;
    height:40px;
    margin-bottom:40px;
    border-radius: 10px;
    background-color: rgb(236, 235, 235);
    border:none;
    margin-left:10px;
  }
  .addclass-2 h6{
    background-color: rgb(236, 235, 235);
    width:150px;
    padding:10px;
    border-radius: 10px;
    margin-left:10px;
    margin-right:20px;
    float:left;
  }
  .addclass-2 .create-2{
    width: 150px;
    height:40px;
    background-color: rgb(236, 235, 235);
    border-radius: 10px;
    border:none;
    margin-left:10px;
    margin-right:20px;
    text-align:center;
    float:left;     

  }
 .upload-1{
     display:none;

 }
 .create-3{
    background-color: rgb(236, 235, 235);
    padding:8px;
    border-radius: 10px;
 
    margin-bottom:30px;
}
.create-1::placeholder {
    color:gray;
    font-size:15px;
}
.create-2::placeholder {
    color:gray;
}
 .semester input{
 margin:8px;  
}
.semester{
    background-color:  rgb(236, 235, 235);
    border-radius: 10px;
    padding:5px; 
    margin-bottom:20px;
    width:300px;
    height:40px;
    border:none;
}

.submit-1{
    margin-bottom:-1050px;
}
.submit-2{
    margin-bottom:-1050px;
}
.alert{
    margin-top:550px; 
    margin-left:400px;
    width:500px;
    text-align: center;
}
/* Calender */
#lich{
    margin-bottom:100px;
}
#ten-lich{
    padding-top: 100px;
    margin-top: 100px;
    margin-bottom:100px;
    font-size: 30px;
    font-weight: bold;
     text-align: center; 
}

 .col-6{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.15);
    border-radius: 30px;
    padding-bottom: 40px;
}

.col-6 table{
    margin: 30px auto;
    /* text-align: center; */
}

.col-6 th{
    width: 60px;
    height: 40px;
    border-bottom:1px solid ;
}

.col-6 td{
    width: 60px;
    height: 40px;
}

.container .col-5 table{
    text-align:center;
    margin-top: 60px;
    margin-left:80px;
    width:100%;
}

.container .col-5 th{
    width: 170px;
} 

/* Css calendar */

.calendar-frame {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.dayInCalendar {
     width: 16.66666667%; 
    /* width:14%; */
    text-align: center;
    margin: 20px 0px;
}
.nav-cal {
    display: flex;
    width: 100%;
    padding: 8px;
}
.nav-cal_next,
.nav-cal_prev {
    border: none;
    background: none;
    margin: 0px 8px;
}
.calendar_header {
    display: flex;
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    justify-content: space-between;
}
.header_year {
    padding: 8px;
}
.calendar-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* Thêm nội dung môn học*/

.subject button{
    border:none;
 }
 .modal-header{
     float:right;
 }
 .addclass li{
     list-style-type: none;
 }
 .sub-menu{
     box-shadow: 0px 0px 6px rgb(0,0,0,0.15); 
     width:262px;
     margin-top:5px;
     border-radius: 20px;
     background-color: rgb(236, 234, 234,0.5);
     display: none;
 }
 .sub-menu li{
     list-style-type: none;
 }
 .sub-menu .tieude{
     padding:10px;
     font-size:20px;
     color:black;
     margin-left:-20px;
 }
 .col1 {
     padding: 0px 12px;
 }
 .col1 a {
     display: block;
 }
 .sub-menu .table1{
     width: 262px;
     background-color: rgba(0, 0, 0, 0.1);
     margin-left:-32px;
 }
 .sub-menu .table2{
     margin-left:-32px;
 }
 .sub-menu #hinh{
     width: 50px;
 }
 
 .sub-menu img{
     width: 45px;
     height: 45px;
     border-radius: 30px;
 }
 
 .sub-menu h6{
     font-size: 13px;
 }
 .nav-list {
     display: flex;
 }
/*Navigation Mobile*/
.nav-mobile {
    position: fixed;
    bottom: 10px;
    display: none;
    left: 20px;
    right: 20px;
    backdrop-filter: blur(120px);
    background-color: rgba(255, 255, 255, 1);
    color: #333;
    padding: 20px 24px;
    border-radius: 48px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.nav-mobile .nav-mobile_list i{
    font-size: 20px;
    color:#333;
}
.nav-mobile .nav-mobile_list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.col-5 th {
    text-align: center;
}
 @media (max-width: 1090px) {
    .backgroundNav {
        display: none !important;
    }
    .nav-mobile {
        display: flex;
    }
    .col-5,
    .col-6 {
        width: 100% !important;
    }
    #lich {
        padding: 12px;
    }
 }

 @font-face {
    font-family: basic;
    src: url(./font/Bandon.ttf);
}

 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
     /* color: #000 !important;  */
     font-family: basic; 
}

.backgroundNav {
    height: 74px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    transition: top 0.2s, height 0.2s;
    z-index: 5;
    padding: 0px 40px;
}
.titleNav {
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.itemNav {
    padding: 0px 32px;
    display: flex;
    position: relative;
    cursor: pointer;
    font-size:20px;
   
}
.itemNav input{
    border:none;
    background:none;
    color:white;
}
.itemNav a{
    text-decoration: none;
    display: block;
     color: #fff; 
}
.activeNav a{
    color: #333;
}
.activeNav input{
    color: #333;
}
.activeNav {
    background-color: #fff;
    color: #333 !important;
    height: 56px;
    top: 0;left: 0;right: 0;
    animation: showNav 0.3s linear forwards;
    text-shadow: none;
    z-index: 5;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}
.noActiveNav {
    background-color: none;
    height: 74px;
    animation: unshowNav 0.3 linear;
}
.listItemsNav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px;
}
@keyframes showNav {
    from {
        background-color: transparent;
    }
    to {
        background-color: #fff;
    }
}
@keyframes unshowNav {
    from {
        background-color: #fff;
    }
    to {
        background-color: transparent;
    }
}


/* Reponsive */

@media (max-width: 998px) {
    .background {
        display: none;
    }
}

/* Header */

.frameNoti {
    display: none;
    position: fixed;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(14px);
    color: #333;
    margin-top: 4.5%;
    border-radius: 12px;
    margin-left: 900px;
    width: 320px;
    padding: 12px 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    animation: showNoti 0.3s ease;
    transition: all 0.2s;
    transform-origin: 80% top;
    color: #fff;

}

.actNotification {
    display: flex;
}

@keyframes showNoti {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.frameNoti h5 {
    width: 100%;
    font-size: 18;
    padding-left: 12px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.04);
}
.imageNoti img{
    width: 60px;
    height: 60px;
    /* background-color: white; */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 48px;
}

.contentNoti {
    flex: 1;
    margin-left: 16px;
    /* float: left; */
}
.contentNoti p {
    margin: 0 !important;
    font-size: 14px;
    overflow: hidden;
    min-width: 194px;
    /* float: left; */
}

.contentNoti .p {
    margin: 0 !important;
    font-size: 14px;
    overflow: hidden;
    min-width: 194px;
    display: flex; 
}
.contentNoti h4 {
    /* float: left; */
    font-size: 18px;
}
.itemNoti,
.itemNotiStatus {
    display: flex;
    width: 100%;
    align-content: center;
    margin-top: 16px;
    padding: 8px 12px;
    max-height: 76px;
}
.itemNotiStatus {
    background-color: rgba(255, 255, 255, 0.2);
}
.itemNotiStatus:hover,
.itemNoti:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.frameNoti i {
    padding-right: 6px;
}
@media (max-width: 998px) {
    .frame {
        margin: 0;
        bottom: 96px;
        right: 12px;
    }
    .frame::after {
        display: none;
    }
}

.frameMess {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12px;
    display: none;
    flex-wrap: wrap;
    align-content: space-between;
    color: #666;
    animation: show 0.35s ease;
    height: 426px;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateX(100px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.imageMess {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 48px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}
.navigationMess {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 68px;
    align-items: center;
    padding: 12px;
}
.nameMess {
    margin: 0;
    flex: 1;
    padding-left: 8px;
    font-size: 16px;
    border: none !important;
}
.backMess {
    background: none;
    border: none;
    padding-right: 8px;
    margin-top: 2px;
    color: #999;
}
.navigationMessSend {
    width: 100%;
    padding: 0px 12px;
    height: 48px;
    display: flex;
    align-items: center;
    align-content: center;
}
.inputMessChat {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 48px;
    border: none;
    padding: 4px 8px;
    outline: none;
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.07);
}
.buttonMessSend {
    background: none;
    border: none;
    color: #333;
    margin-left: -30px;
    margin-top: 1px;
}
.contentMess {
    display: flex;
    width: 100%;
    height: 310px;
    flex-direction: column-reverse;
    overflow: auto;
    padding: 8px;
}
.messMess {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 56px;
}
.sendMess,
.receiveMess {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
}
.sendMess {
    top: 0;
    right: 10px;
    border-radius: 48px 48px 0px 48px;
}
.receiveMess {
    top: 0;
    left: 10px;
    border-radius: 48px 48px 48px 0px;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 48px;

}

/* Handle */
::-webkit-scrollbar-thumb {
background: #ccc;
border-radius: 48px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

.temp {
    width: 100%;
    height: 1000px;
    background-color: #555;
}

.nut_dropdown {
    background: none;
    border: none;
  }
  
  /* Thiết lập vị trí cho thẻ div với class dropdown*/
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Nội dung Dropdown */
  .noidung_dropdown {
    /*Ẩn nội dụng các đường dẫn*/
    display: none;
    position: absolute;
    background-color:rgba(3, 3, 3, 0.3);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left:-130px;
    border-radius: 10px;
    
  }
  
  /* Thiết kế style cho các đường dẫn tronng Dropdown */
  .noidung_dropdown a {
    color:white;
    padding: 5px;
    text-decoration: none;
    display: block;
    font-size:17px;
    text-align: center;
    /* padding-left: 15px; */
  }
  .hienThi{
    display:block;
  }

  #search{
    width: 300px;
    padding: 10px;
    border: none;
    background: rgb(128, 128, 128,0.6);
    text-align: center;
    border-radius: 30px;
    outline: none;
}

#search::placeholder {
    color: white;
}

#btt-search{
    width: 300px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    border-radius: 30px;
    color: white;
    border: 1px solid #ff7f00;
    background-color: #ff7f00;
}

.content h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.content p{
    margin: 35px auto;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.content .btn-submit{
    background: none;
    border: none;
}

.content .submit{
    background: none;
    border: none;
    color: red;
}

.col-5 td{
    width: 60px;
    height: 40px;
    text-align: center;
    /* font-weight: normal; */
}
.col-5 th{
    width: 240px;
    font-size: 18px;
    padding-bottom: 20px;
}
.p-homework{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}


.search-class{
    border-radius:20px;
    border:none;
    text-align:center;
}

.box input{
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 0px;
    transition: 0.8s ease;
    color: black;
    font-size: 15px;
    font-weight: 500;
  }
   
  .box input::placeholder {
    color: rgb(254, 249, 249);
  }
  .box:hover input {
    width: 150px;
    margin: 0 10px;
    border: 1px solid white;
    background: rgb(248, 247, 245,0.3);
  }

  .fa-search{
      /* margin-right: 10px; */
      font-size: 18px;
  }

  .submit{
      background: none;
      border: none;
      color: #fff;
  }

  .sub-taikhoan{
      background: none;
      border: none;
      color: white;
      padding-left: 30px;
      font-size: 17px;
  }
  .sub-taikhoan:hover{
      color: blue;
  }

  .add{
      border: 1px solid rgb(251, 116, 116);
      background-color: rgb(245, 70, 70);
      color: white;
      border-radius: 20px;
      width: 70px;
      /* margin-top: 3px;
      margin-bottom: 3px; */
  }

/* .p-homework, */
.button{
    background: none;
    border: none;
    float: left;
}

.down{
    background: none;
    width: 20px;
}