input {
    margin-bottom: 18px !important;
}
h2 {
    margin-bottom: 20px !important;
}
#root {
    margin-top: 176px;
}
.signin {
    margin: 0;
}
.img_desk {
    display: flex;
    justify-content: left;
    align-content: center;
    flex-wrap: wrap;
    background-position: top 60% right 30%;
    margin-top: -448px !important;
}
h1 {
    margin-top: -180px!important;
}
h5 {
    margin-bottom: 0 !important;
}
input {
    margin-top: 24px !important;
}
.sex button {
    width: 30%;
}
.sex {
    margin-top: 12px;
    width: 100%;
    padding: 4px 0px !important;
}
.choose-type,
.choose-sex {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 12px 24px;
    margin: 0px 4px;
}
.choose-type {
    margin: 12px 0px;
}
.type {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.type button {
    width: 48%;
}
.choose-file {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px;
    margin-top: 16px;
    margin-bottom: 12px;
    color: #333;
    background-color: rgba(245, 245, 255);
    border-radius: 12px;
}
.upload {
    display: none;
}
p {
    width: 100%;
    font-size: 12px !important;
    color: #999;
    margin-top: -100px !important;
}
.submit {
    width: 100%;
    background-color: rgba(0, 0, 255, 0.65);
    color: #fff;
    margin: 24px 0px;
    padding: 18px 0px !important;
    border-radius: 12px;
    transition: all 0.2s;
    background-size: 150%;
    box-shadow: 0px 0px 16px rgba(159, 159, 255, 0.8);
}
.capcha {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    background-image: url(../image/accuracy.png);
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.4);
}
.err {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.err_warning {
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    animation: shows 0.35s ease;
}
.err_warning i {
    font-size: 3rem;
    margin-bottom: 48px;
    color: red;
}
.err_warning h5 {
    width: 100%;
    text-align: center;
}
@keyframes shows {
    from {
        transform: translateY(32px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.content label {
    font-size: 12px;
    color: red;
}
.capcha input {
    width: 500px;
    margin-top: 420px;
    text-align: center;
}
.capcha input::placeholder {
    color: #666;
    font-size: 1rem;
    text-align: center;
}
.active {
    display: flex;
    animation: show 0.3s ease;
}
@keyframes show {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}