input {
    margin-bottom: 18px !important;
}
h2 {
    margin-bottom: 20px !important;
}
.signin {
    margin: 0;
}
h5 {
    margin-bottom: 0 !important;
}
.sex {
    padding: 4px 0px !important;
}
.type {
    width: 100%;
    padding: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.type input {
    width: 20px;
    margin: 0 !important;
}