.frame {
    background-color: rgba(247, 247, 255);
    animation: show 0.3s ease;
}
@keyframes show {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.boxLog {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    padding: 8px 32px !important;
}
.content {
    max-height: 70vh;
    overflow: auto;
}
.boxLog ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.frameLog {
    padding: 0 !important;
    border-radius: 48px 48px 0px 0px;
    overflow: hidden;
}
.title {
    padding-bottom: 56px;
}
.titleNav,
.item {
    width: 100%;
    height: 24px;
}
.items,
.labelNav {
    display: flex;
    flex-wrap: wrap;
    height: 56px;
    align-content: center;
    align-items: center;
    padding: 0;margin: 0;
    list-style: none;
}
.titleMobile {
    display: none;
}
.boxLog h5 {
    color: red;
}
.item {
    width: 100%;
}
.frameClose {
    display: none;
}
.items {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}
@media (max-width: 998px) {
    .frame {
        display: flex;
        align-content: flex-start;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .title {
        display: none;
    }
    .titleMobile {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .titleMobile h5 {
        padding: 8px 18px;
        background-color: #fff;
        border-radius: 48px;
        margin-bottom: 32px;
    }
    .frameClose {
        display: flex;
        justify-content: center;
        background-color: #fff;
    }
    .frameClose button {
        width: 56px;
        height: 8px;
        border: none;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 48px;
        margin: 12px 0px;
    }
    .boxLog {
        border-radius: 0px
    }
}