.frame {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    color: #666;
    animation: show 0.35s ease;
}
.time {
    font-size: 8px;
}
@keyframes show {
    from {
        opacity: 0;
        transform: translateX(100px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.image {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 48px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}
.navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 68px;
    align-items: center;
    padding: 12px;
}
.name {
    margin: 0;
    padding-left: 8px;
    font-size: 16px;
}
.back {
    background: none;
    border: none;
    padding-right: 8px;
    margin-top: 2px;
    color: #999;
}
.navigationSend {
    width: 100%;
    padding: 0px 12px;
    height: 48px;
    display: flex;
    align-items: center;
    align-content: center;
}
.inputChat {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 48px;
    border: none;
    padding: 4px 12px;
    padding-right: 42px;
    outline: none;
    color: #333;
    font-size: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.07);
}
.buttonSend {
    background: none;
    border: none;
    color: #333;
    margin-left: -30px;
    margin-top: 1px;
}
.content {
    display: flex;
    width: 100%;
    height: 326px;
    flex-direction: column-reverse;
    overflow: auto;
    padding: 8px;
}
.mess {
    display: flex;
    width: 100%;
    justify-content: right;
    padding: 6px 0px;
    padding-left: 48px;
}
.send,
.receive {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
}
.send {
    border-radius: 20px 20px 0px 20px;
}
.receive {
    border-radius: 20px 20px 20px 0px;
}