.frame {
    display: flex;
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0.65);
    height: 64px;
    align-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}
.item a {
    color: red;
}
.listAction {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(12px);
    line-height: 64px;
    border-radius: 16px;
}
@media (min-width: 998px) {
    .frame {
        display: none;
    }
}
.function {
    background-image: linear-gradient(to top, rgb(255, 200, 100), rgba(255, 100, 0));
    color: #fff;
    padding: 12px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -16px;
    border-radius: 100%;
}