.rigthBar {
    display: flex;
    justify-content: center;
}
.listBar {
    list-style: none;
    padding-top: 48px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.listBar div {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 100%;
}

.listBar li {
    display: flex;
    justify-content: center;
    align-content: center;
}
.listBar div h5 {
    margin: 0;
}
.listBar li p {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.mess {
    background-color: rgb(255, 230, 230);
    color: rgb(102, 0, 0);
}
.user {
    background-color: rgb(231, 244, 255);
    color: rgb(0, 35, 66);
}
.class {
    background-color: rgb(238, 255, 232);
    color: rgb(0, 110, 6);
}
.document {
    background-color: rgb(255, 228, 253);
    color: rgb(112, 0, 112);
}
.administrators {
    background-color: #fff;
    padding: 12px;
}
.administrators .item_ad {
    background-color: rgba(0, 0, 0, 0.025);
    padding: 12px 12px;
    border-radius: 20px;
    margin: 12px 0px;
}
.item_ad .img_ad {
    height: 60px;
    width: 60px;
    background-color: #333;
    border-radius: 100%;
}
.item_ad div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_ad .status_ad button {
    background-color: rgb(104, 255, 104);
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 12px;
}
.item_ad .del_ad:hover {
    color: red;
}
.addAdmin {
    display: flex;
    justify-content: center;
    margin-top: 24px !important;
}
.addAdmin button {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 12px;
    border: none;
    padding: 8px 0px;
    margin-bottom: 24px;
    color: #999;
}
.addAdmin button:hover {
    background-color: rgba(0, 0, 0, 0.06);
    color: #000;
}