.background {
    width: 100%;
    background-image: url(./homepage.jpg);
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-position: center;
    filter: brightness(90%);
}
.title {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    padding: 48px 0px;
}
.description {
    width: 100%;
    text-align: center;
    padding-bottom: 32px;
}
.search {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px 0px;
}
.search input {
    border: none;
    width: 242px;
    height: 32px;
    border-radius: 48px;
    outline: none;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
}
.search input::placeholder {
    color: white;
    text-align: center;
}
.searchSubmit {
    border: none;
    width: 242px;
    height: 32px;
    border-radius: 48px;
    background-color: rgba(255, 100, 0, 1);
    color: white;
}
@media (max-width: 998px) {
    .background {
        background-size: 180%;
        background-position: right;
        color: #fff;
        background-image: url(./homemobile.jpg);
    }
}