@font-face{
    font-family: basic;
    src: url(./font/Bandon.ttf); }
*{
    margin: 0;
    padding: 0;

}
html {
    scroll-behavior: smooth;
    font-family: basic;
}
.main-subject{
    padding-top: 90px;
}

.main-subject p{
    font-size: 25px;
    color:white;
}

.name-subject{
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 115px;
    width: 83%;
    height: 255px;
    border-radius: 30px;
    color:white;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.15);
}

.name-subject img{
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 115px;
    width: 100%;
    height: 255px;
    border-radius: 30px;
}

b{
    font-size: 45px;
    padding-right: 35px;
}
.name-subject p{
    color: white!important;
    padding: 180px 0 0 40px;
    font-size:40px;
}
.link{
    float: left;
    width: 270px;
    margin-top: 40px;
    margin-left: 115px;
    text-align:center;
}
.link p{
    line-height: 0.8;
}
img{
    float: right;
    width: 20px;
}
.linl .modal-body button{
    background:none;
    border:none;
} 
.link .modal-body ul{
    background-color: rgb(235, 235, 235); 
    border-radius:20px;
    display: flex;
    margin:10px;
    padding:0px 10px ;
    margin-top:6px;
  
}
.link .modal-body li{
    list-style-type: none;
    margin-left:20px;
}
.link .modal-body li img{
    width:40px;
    border-radius: 20px;
    margin-left:-25px;
}
.add-dl{
    margin-right:150px; 
    float:right;
    width:100px;
    padding:5px;
    border-radius: 30px;
    border: 1px white;
    background-color: white;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.15);
   
}
.button{
    border-radius: 30px;
    width: 70px;
    
    border: 1px white;
    background-color: white;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.15);
}

.upload button{
    float: right;
    width: 160px;
    height: 35px;
    margin-top: 40px;
    margin-right: 140px;
}
#content{
    float: right;
    width: 800px;
    margin-top: 30px;
    margin-right: 140px;
}
#content a{
    text-decoration: none;
}
.content-1 .img1{
    float:right;
    border:none;
    background:none;
    
}
.media{
    padding: 15px 15px 0 15px;
}
.media img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.media-body img{
    float: right;
    height: 40px;
    width: 30px;
}
h6{
    font-size: 14px;
}
.content-1{
    background-color: #e8e8e8;
    /* opacity: 0.2; */
    border-radius:10px;
}
#baitap{
   
    padding:10px;
    
}
.content-1 p{
    font-weight: bold;
}
#xemthem{
    float: right;
    margin-top: 20px;
    margin-right: 34%;
    margin-bottom: 10%;
}
#xemthem button{
    width: 200px;
    height: 35px;
    background-color: white;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.15);
}
i{
    width: 18px;
    float: right;
}
a{
    color: black;
}
.repair{
    float:right;
    padding:10px;
    background: none;
    border: none;
}
.repair-content{
    float:left;
    
   
}

.create-1::placeholder {
    color:black;
    font-size:15px;
}
.create-1{
  width:500px;
  height:40px;
  background-color: rgb(218, 214, 214);
  border:none;
  padding:5px;
  margin:10px;
  /* margin:10px; */
  border-radius: 10px;

}
.create-1::placeholder {
  color:rgb(184, 184, 184);
}
.create{
  background-color: rgb(218, 214, 214);
  padding:5px;
  border-radius: 10px;
  margin-left:10px;
}
.delete{
   background: none;
   border: none;
}
.form-subject input{
    border:none;
    background: none;
}
.upload{
    display:none;
}
/* Modal */

 .container {
    width: 70%;
    margin: auto;
    text-align: center;
}
 .btn {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

 .btn:active {
  transform: scale(0.9);
}


 .fomrgroup {
    width: 50%;
    margin-left:140px;
    display: block;
    height: 250px;
}
 .fomrgroup input{
    line-height: 40px;
    background-color: rgb(218, 214, 214);
    border:none;
    border-radius: 10px;
    margin-top:10px;
    
}

 .fomrgroup b{
    font-size: 20px;
}
 .fomrgroup-1{
    margin-top:70px;
}
 .fomrgroup-1 button{
    width:70px;
    height:40px;
    
}

 .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: -50%;
    width: 50%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
   
 
}


 .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;

}
 
 .close {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
 
 .close:hover,
 .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}  


/*Header*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: basic; */
    color: black !important;
}

.backgroundNav {
    height: 74px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    transition: top 0.2s, height 0.2s;
    z-index: 5;
    box-shadow: 0px 0px 4px rgba(0, 0, 0 ,0.1);
}
.titleNav {
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.itemNav {
    padding: 0px 32px;
    display: flex;
    position: relative;
    cursor: pointer;
    font-size:20px;
}
.itemNav a{
    text-decoration: none;
    display: block;
}
.activeNav a{
    color: #333;
}
.activeNav {
    background-color: #fff;
    color: #333 !important;
    height: 56px;
    top: 0;left: 0;right: 0;
    animation: showNav 0.3s linear forwards;
    text-shadow: none;
    z-index: 5;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}
.noActiveNav {
    background-color: none;
    height: 74px;
    animation: unshowNav 0.3 linear;
}
.listItemsNav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px;
}
@keyframes showNav {
    from {
        background-color: transparent;
    }
    to {
        background-color: #fff;
    }
}
@keyframes unshowNav {
    from {
        background-color: #fff;
    }
    to {
        background-color: transparent;
    }
}


/* Reponsive */

 @media (max-width: 998px) {
    .background {
        display: none;
    }
    .nav-mobile {
        display: flex !important;
        z-index: 5;
        background-color: #fff;
    }
}

.frameNoti {
    display: none;
    position: fixed;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(14px);
    color: #333;
    margin-top: 4.5%;
    border-radius: 12px;
    margin-left: 900px;
    width: 300px;
    padding: 12px 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    animation: showNoti 0.3s ease;
    transition: all 0.2s;
    transform-origin: 80% top;
    color: #fff;
}

.actNotification {
    display: flex;
}

@keyframes showNoti {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.frameNoti::after {
    position: absolute;
    content: "";
    border-left: 14px solid transparent;
    border-top: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid rgba(0, 0, 0, 0.4);
    top: -28px;
    right: 48px;
}
.frameNoti h5 {
    width: 100%;
    font-size: 18;
    padding-left: 12px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.04);
}
.imageNoti {
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 48px;
}
.contentNoti {
    flex: 1;
    margin-left: 16px;
}
.contentNoti p {
    margin: 0 !important;
    font-size: 12px;
    overflow: hidden;
    min-width: 194px;
}
.contentNoti h4 {
    font-size: 18px;
}
.itemNoti,
.itemNotiStatus {
    display: flex;
    width: 100%;
    align-content: center;
    margin-top: 16px;
    padding: 8px 12px;
    max-height: 76px;
}
.itemNotiStatus {
    background-color: rgba(255, 255, 255, 0.2);
}
.itemNotiStatus:hover,
.itemNoti:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.frameNoti i {
    padding-right: 6px;
}
.frameMess {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12px;
    display: none;
    flex-wrap: wrap;
    align-content: space-between;
    color: #666;
    animation: show 0.35s ease;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateX(100px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.imageMess {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 48px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}
.navigationMess {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 68px;
    align-items: center;
    padding: 12px;
}
.nameMess {
    margin: 0;
    flex: 1;
    padding-left: 8px;
    font-size: 16px;
    border: none !important;
}
.backMess {
    background: none;
    border: none;
    padding-right: 8px;
    margin-top: 2px;
    color: #999;
}
.navigationMessSend {
    width: 100%;
    padding: 0px 12px;
    height: 48px;
    display: flex;
    align-items: center;
    align-content: center;
}
.inputMessChat {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 48px;
    border: none;
    padding: 4px 8px;
    outline: none;
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.07);
}
.buttonMessSend {
    background: none;
    border: none;
    color: #333;
    margin-left: -30px;
    margin-top: 1px;
}
.contentMess {
    display: flex;
    width: 100%;
    height: 310px;
    flex-direction: column-reverse;
    overflow: auto;
    padding: 8px;
}
.messMess {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 56px;
}
.sendMess,
.receiveMess {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
}
.sendMess {
    top: 0;
    right: 10px;
    border-radius: 48px 48px 0px 48px;
}
.receiveMess {
    top: 0;
    left: 10px;
    border-radius: 48px 48px 48px 0px;
} 
/* width */
 ::-webkit-scrollbar {
    width: 4px;
} 

/* Track */
 ::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 48px;

} 

/* Handle */
 ::-webkit-scrollbar-thumb {
background: #ccc;
border-radius: 48px;
} 

/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
background: #555;
}

.temp {
    width: 100%;
    height: 1000px;
    background-color: #555;
}
@media (max-width: 1100px) {
    .backgroundNav {
        display: none !important;
    }
    .frameNoti::after {
        display: none;
    }
    .frame {
        margin: 0;
        bottom: 96px;
        right: 12px;
    }
    .frame::after {
        display: none;
    }
} 
/*Nav mobile*/

 .nav-mobile {
    position: fixed;
    bottom: 10px;
    display: none;
    left: 20px;
    right: 20px;
    backdrop-filter: blur(120px);
    background-color: rgba(255, 255, 255, 1);
    color: #333;
    padding: 20px 24px;
    border-radius: 48px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.nav-mobile .nav-mobile_list i{
    font-size: 20px;
}
.nav-mobile .nav-mobile_list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}  
