@font-face{font-family: abc;src:url(./font/Bandon.ttf)}
*{
    font-family: abc;
    margin:0;
    padding:0;
}
.header-1{
    padding:10px;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.15);
    margin-left:10px;
    margin-right:10px;
}
.header-1 a{
    color:black;
}

.container-fluid .col-5{
    font-size:30px;
    margin-left:20px;
    margin-top:-10px;
}
.container-fluid .col-1 a{
    text-decoration: none;
    font-size:20px;
}