@font-face{font-family: abc;src:url(./font/Bandon.ttf)}
*{
    font-family: abc;
    margin: 0;
    padding: 0;
}
.menu{
    width:20%;
    height:90vh;
    float:left;
    margin-left:20px; 
    margin-top:20px;  
    box-shadow: 0px 0px 6px rgb(0,0,0,0.15); 
    /* z-index: 1000; */
     transition: ease-in-out 0.5s; 
    
}
.menu ul{
    overflow: hidden;
}

.menu-1 li{
    margin-bottom:20px;
     margin-top:20px; 
}
.menu-1 a{
    text-decoration: none;
    color:black;
}
.menu-2 li{
    margin-bottom:20px;
}
.menu-2 p{
   
   
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
   

}
.menu-2 .item {
    width:35px;
    height:35px;
    border-radius: 18px;
    float:left;
    background-size: 100%;
    margin-right:10px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}
.menu li{
    list-style-type: none;
}
.main{
    width:50%;
     margin-left:50px; 
    float:left;
}
.menu-3 {
    font-size:25px;
    color:black;
    text-decoration: none;
}
.menu-3 img{
    width:30px;
}
.menu ul li a{
    transition: linear 0.5s;
}
/* .main{
     position: absolute; 
      left:300px;  
} */
.menu.hide{
    width:0;
}
.sj-name{
    border: none;
    background: none;
    
}
.main ul{
    margin-top:40px;
    background-color: rgb(235, 235, 235);
    padding:20px;
    border-radius:20px;
}
.main li{
    list-style-type: none;
}
.main img{
    width:40px;
    cursor:pointer;
    transition: linear 0,5s;
}
.main a{
    font-size:30px;
    text-decoration: none;
    color:black;
}
.main .img2{
    border-radius: 20px;
    width:40px;
    float:left;
    margin-right:10px;
}
.main .img1{
    float:right;
    width:20px;
    border: none;
    background: none;
    margin-top:40px;
    margin-right:8px;
    
}
.main .img3{
    float:right;
    width:20px;
    border: none;
    background: none;
    margin-top:45px;
    margin-right:8px;
    
}
.create{
    width:250px;
    height:40px;
     background-color: rgb(218, 214, 214); 
    border:none;
    padding:5px;
    margin:10px;
    /* margin:10px; */
    border-radius: 10px;
    color:black;
  }
  
.comment-1{
    display:flex;
}
.comment img{
    width:40px;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.15);
    border-radius:20px;
    margin-left:10px;
    float:left;
    margin-right:10px;
}
.comment .button{
    float:right;
}
.comment-2{
    border-radius:20px;
    width:600px;
    height:40px;
    float:right;
    border:2px solid rgba(0,0,0,0.1)
}

.send{
    margin-left:-32px;
    background: none;
    border:none;
}
.main ul ul{
    margin-top:40px;
    background-color: rgb(235, 235, 235);
    padding:20px;
    border-radius:20px;

}
 .hw-finish{
    float:right;
    font-size:13px;
}
.right{
    width:20%;
    float:right;
    margin-right:20px;
    margin-top:80px;
    padding:10px;
    border-radius:20px;
}

/* .right-1{
    width:100%;
    border-radius:10px;
    padding:10px;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.15);
} */
.right-1 .link{
    text-align:center;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 20px;
    width:100%;
}
.right-1 button{
    border:none;
}
 .right-1 a{
    text-decoration: none;
    color:black;
}
.right-2{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.15);
    margin-top:30px;
    border-radius: 10px;
    padding:10px;
}
.right-2 a{
    text-decoration: none;
    color:black;
    
}
.right-2 ul{
    background-color: rgb(235, 235, 235); 
    border-radius:20px;
    display: flex;
    justify-content: space-between;
    margin:0;
    padding:0px 10px ;
    margin-top:6px;
    
}
.right-2 li{
    list-style-type: none;
} 

.score{
    border:none;
    font-weight: bold;
    background-color: white;
    margin-top:10px;
    text-align:center;
}
.popup {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    }
    .popup-content {
    position: relative;
    background-color: #FAFAFA;
    margin: auto;
    width: 70%;
    }
    .close-btn {
    float: right;
    color: #2E2E2E;
    font-size: 25px;
    font-weight: 700;
    }
    .close-btn:hover {
    color: #D2D2D2;
    }
.modal-body{
    width: 35%;
}
.delete{
    background: none;
    border: none;
}
.repair-content{
    width: 20px;
}
.add_baigiang{
    margin-left:300px; 
    width:60%;
    
}
.add_baigiang input{
    background-color: #D2D2D2;
    border:none;
    border-radius: 10px;
    padding:8px;
    width:500px;
}
.add_baigiang textarea{
    background-color: #D2D2D2;
    border:none;
    border-radius: 10px;
    padding:8px;
    width:500px;
}