*{
    margin:0;
    padding:0;
}
.homework{
    width:20%;
    height:100%;
}
.homework img{
    width:30px;
}
.homework a{
    text-decoration: none;
    color:black;
}
.homework li{
    list-style-type: none;
}
