 .row {
margin: 0;
} 
    @font-face{
    font-family: basic;
    src: url(./font/Bandon.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: basic;
}
html{
    box-sizing: border-box;
}
.pad {
    padding: 50px 32px;
}
.listNav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.035);
    border-radius: 48px;
    width: 600px;
}
.listNav a{
    text-decoration: none;
    color:black;
}
.listNav li {
    padding: 8px;
}
.navigation {
    width: 100% !important;
    display: flex;
    align-items: center;
    height: 42px;
}
.title {
    padding-bottom: 56px;
}
.submit {
    background: none;
    border: none;
    padding: 0px 12px;
}
.titleItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}

.titleItem img{
    background-size: cover;
}
.titleItem a{
    text-decoration: none;
}
.item {
    padding: 0px 8px;
    height: 156px;
    border-radius: 18px;
    background-size: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    margin-top: 56px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.items {
    width: 100%;
}
.nameSubject {
    margin-bottom: 0;
    margin-top: 6px;
    margin-left: 8px;
    
}
.nameSubject input{
    border: none;
    background: none;
}
.keySubject {
    margin-left: 8px;
}
.keySubject input{
    border: none;
    background: none;
}
.backgroundItem {
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    z-index: -1;
    background-size: 150%;
    opacity: 20%;
}
.navItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.more {
    width: 120px !important;
    margin-top: 48px !important;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    background: none;
    border-radius: 48px;
    padding: 4px 8px;
}
.more:hover {
    background-color: rgba(255, 100, 0, 0.8);
    color: #fff;
}
.mainSession {
    display: flex;
    justify-content: center;
}
.itemBox {
    padding: 0px 24px !important;
}
.search-class{
    border-radius:20px;
    border:none;
    text-align:center;
}

.box input{
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 0px;
    transition: 0.8s ease;
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
   
  .box input::placeholder {
    color: rgb(94, 94, 94);
  }
  .box:hover input {
    width: 200px;
    margin: 0 20px;
    border: 2px solid white;
    background-color: white;
  }
 
  .create-1 textarea{
    width: 100%;

}
 .upload{
    display:none;
}
.create-1{
    width:95%;
    height:40px;
    background-color: rgb(218, 214, 214);
    border:none;
    padding:5px;
    margin:10px;
    /* margin:10px; */
    border-radius: 10px;

}

.create{
    background-color: rgb(218, 214, 214);
    padding:8px;
    border-radius: 10px;
    margin-left:10px;
    width:300px;
    margin-top:10px;

}
.delete{
     margin-top:50px;
    margin-left:-30px; 
    float:right; 
    background: none;
    border: none;
}
.repair{
    background: none;
    border: none;
}
.add{
    margin-left:370px;
   width:50%;
   padding:10px;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.15); 

}

/*Header*/

 /* @font-face {
    font-family: basic;
    src: url(./Bandon.ttf);
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: basic; */
    color: black !important;
}

.backgroundNav {
    height: 74px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    transition: top 0.2s, height 0.2s;
    z-index: 5;
    box-shadow: 0px 0px 4px rgba(0, 0, 0 ,0.1);
    padding: 0px 48px;
}
.titleNav {
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.itemNav {
    padding: 0px 20px;
    display: flex;
    position: relative;
    cursor: pointer;
    font-size:20px;
}
.itemNav input{
    border: none;
    background: none;
}
.itemNav a{
    text-decoration: none;
    display: block;
}
.activeNav a{
    color: #333;
}
.activeNav {
    background-color: #fff;
    color: #333 !important;
    height: 56px;
    top: 0;left: 0;right: 0;
    animation: showNav 0.3s linear forwards;
    text-shadow: none;
    z-index: 5;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}
.noActiveNav {
    background-color: none;
    height: 74px;
    animation: unshowNav 0.3 linear;
}
.listItemsNav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px;
}
@keyframes showNav {
    from {
        background-color: transparent;
    }
    to {
        background-color: #fff;
    }
}
@keyframes unshowNav {
    from {
        background-color: #fff;
    }
    to {
        background-color: transparent;
    }
}


/* Reponsive */

 @media (max-width: 998px) {
    .background {
        display: none;
    }
    .nav-mobile {
        display: flex !important;
        z-index: 5;
        background-color: #fff;
    }
}

.frameNoti {
    display: none;
    position: fixed;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(14px);
    color: #333;
    margin-top: 4.5%;
    border-radius: 12px;
    margin-left: 900px;
    width: 300px;
    padding: 12px 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    animation: showNoti 0.3s ease;
    transition: all 0.2s;
    transform-origin: 80% top;
    color: #fff;
}

.actNotification {
    display: flex;
}

@keyframes showNoti {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.frameNoti::after {
    position: absolute;
    content: "";
    border-left: 14px solid transparent;
    border-top: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid rgba(0, 0, 0, 0.4);
    top: -28px;
    right: 48px;
}
.frameNoti h5 {
    width: 100%;
    font-size: 18;
    padding-left: 12px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.04);
}
.imageNoti {
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 48px;
}
.contentNoti {
    flex: 1;
    margin-left: 16px;
}
.contentNoti p {
    margin: 0 !important;
    font-size: 12px;
    overflow: hidden;
    min-width: 194px;
}
.contentNoti h4 {
    font-size: 18px;
}
.itemNoti,
.itemNotiStatus {
    display: flex;
    width: 100%;
    align-content: center;
    margin-top: 16px;
    padding: 8px 12px;
    max-height: 76px;
}
.itemNotiStatus {
    background-color: rgba(255, 255, 255, 0.2);
}
.itemNotiStatus:hover,
.itemNoti:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.frameNoti i {
    padding-right: 6px;
}
.frameMess {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12px;
    display: none;
    flex-wrap: wrap;
    align-content: space-between;
    color: #666;
    animation: show 0.35s ease;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateX(100px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.imageMess {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 48px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}
.navigationMess {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 68px;
    align-items: center;
    padding: 12px;
}
.nameMess {
    margin: 0;
    flex: 1;
    padding-left: 8px;
    font-size: 16px;
    border: none !important;
}
.backMess {
    background: none;
    border: none;
    padding-right: 8px;
    margin-top: 2px;
    color: #999;
}
.navigationMessSend {
    width: 100%;
    padding: 0px 12px;
    height: 48px;
    display: flex;
    align-items: center;
    align-content: center;
}
.inputMessChat {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 48px;
    border: none;
    padding: 4px 8px;
    outline: none;
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.07);
}
.buttonMessSend {
    background: none;
    border: none;
    color: #333;
    margin-left: -30px;
    margin-top: 1px;
}
.contentMess {
    display: flex;
    width: 100%;
    height: 310px;
    flex-direction: column-reverse;
    overflow: auto;
    padding: 8px;
}
.messMess {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 56px;
}
.sendMess,
.receiveMess {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
}
.sendMess {
    top: 0;
    right: 10px;
    border-radius: 48px 48px 0px 48px;
}
.receiveMess {
    top: 0;
    left: 10px;
    border-radius: 48px 48px 48px 0px;
} 
/* width */
 ::-webkit-scrollbar {
    width: 4px;
} 

/* Track */
 ::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 48px;

} 

/* Handle */
 ::-webkit-scrollbar-thumb {
background: #ccc;
border-radius: 48px;
} 

/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
background: #555;
}

.temp {
    width: 100%;
    height: 1000px;
    background-color: #555;
}
@media (max-width: 1100px) {
    .backgroundNav {
        display: none !important;
    }
    .frameNoti::after {
        display: none;
    }
    .frame {
        margin: 0;
        bottom: 96px;
        right: 12px;
    }
    .frame::after {
        display: none;
    }
} 
/*Nav mobile*/

 .nav-mobile {
    position: fixed;
    bottom: 10px;
    display: none;
    left: 20px;
    right: 20px;
    backdrop-filter: blur(120px);
    background-color: rgba(255, 255, 255, 1);
    color: #333;
    padding: 20px 24px;
    border-radius: 48px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.nav-mobile .nav-mobile_list i{
    font-size: 20px;
}
.nav-mobile .nav-mobile_list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}  